<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>

<center>
    <form action="/">
        <button type="submit" id="realBtn" class="iste-btn mt-5 mb-2">
            <span class="iste-btn__inner">
                <span class="iste-btn__slide"></span>
                <span class="iste-btn__content">Back to Play Zone</span>
            </span>
        </button>
    </form>
</center>