<div class="header container mt-4 ">
  <div class="row justify-content-center text-center">
    <img class="col-12 iste-logo img-fluid d-block" src="images/ISTE logo White.png" alt="ISTE">
    <h3 class="col-12">INDIAN SOCIETY FOR <br>
      TECHNICAL EDUCATION</h3>
    <h1 class="col-12 interitus-text mt-3">{{title}}</h1>
    <p class="col-12 caption">Let's Brainstorm and hunt all the way</p>
  </div>
</div>

<div class="container mt-4 mb-4">
  <div class="row justify-content-center p-2">
    <div class="col-12 playerInput-clue p-3" style="background: transparent;">
      <div class="row justify-content-center align-items-center">
        {{#if msg}}
        <div class="col-12 alert alert-success alert-dismissible fade show" style="width: 334px;" role="alert">
          <strong>{{msg}}</strong>
          <button type="button" class="btn-close" style="color: #ffff;" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{/if}}
        <p class="text-center pt-1"><span style="font-size: 25px; color: #ff4655;">Clue No.9</span></p>
        <p class="text-center pt-1"> Tried me the first time- I strayed away
The second time, I succeeded but did not keep up any winning streak
I have wings and fins but am not a fish
Though born fearless and much before, I was put to use only in 2019 
<br>
What am I?</p>
        {{!-- <img src="https://assets.entrepreneur.com/content/3x2/2000/20170310170113-GettyImages-128577620.jpeg?width=700&crop=2:1" alt="img"> --}}
        <form class="d-flex justify-content-center align-items-center" action="/">
          <button type="submit" class="iste-btn mt-5 mb-4" style="width: 100%;">
            <span class="iste-btn__inner">
              <span class="iste-btn__slide"></span>
              <span class="iste-btn__content">Go back to play Zone</span>
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>