<div class="header container mt-4 ">
  <div class="row justify-content-center text-center">
    <img class="col-12 iste-logo img-fluid d-block" src="images/ISTE logo White.png" alt="ISTE">
    <h3 class="col-12">INDIAN SOCIETY FOR <br>
      TECHNICAL EDUCATION</h3>
    <h1 class="col-12 interitus-text mt-3">{{title}}</h1>
    <p class="col-12 caption">Let's Brainstorm and hunt all the way</p>
  </div>
</div>

<div class="container mt-4 mb-4">
  <div class="row justify-content-center p-2">
    <div class="col-12 playerInput-clue p-3" style="background: transparent;">
      <div class="row justify-content-center align-items-center">
        {{#if msg}}
        <div class="col-12 alert alert-success alert-dismissible fade show" style="width: 334px;" role="alert">
          <strong>{{msg}}</strong>
          <button type="button" class="btn-close" style="color: #ffff;" data-bs-dismiss="alert"
            aria-label="Close"></button>
        </div>
        {{/if}}
        <p class="text-center pt-1"><span style="font-size: 25px; color: #ff4655;">Question No.3</span></p>
        <p class="text-center pt-1"></p>
        <audio controls>
        <source src="music/q3.mp3" type="audio/mpeg">
           Your browser does not support the audio element. Try on chrome
        </audio>
        {{!-- <img src="https://cdn.vox-cdn.com/thumbor/vSti8DPzVbwilZ1I4LSER2Qun_8=/0x0:2040x1360/920x613/filters:focal(857x517:1183x843):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/64900316/acastro_180510_1777_siri_0001.0.jpg" alt="img"> --}}
        <form class="d-flex justify-content-center align-items-center" action="/">
          <button type="submit" class="iste-btn mt-5 mb-4" style="width: 100%;">
            <span class="iste-btn__inner">
              <span class="iste-btn__slide"></span>
              <span class="iste-btn__content">Go back to play Zone</span>
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>