<div class="container">
    <div class="d-flex flex-wrap text-center justify-content-center align-items-center">
            <img style="user-select: none; max-width: 295px; height: auto;" src="images/treasure01.gif" alt="Treasure">
            <h5>You won!</h5>
            {{!-- <p>Take a screenshot and sent to iste</p> --}}
    </div>
</div>